<!DOCTYPE html>
{%extends 'loan/base.html'%}
{%block base_block%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saving page</title>
    <link rel="stylesheet" href="{%static 'css/test.css'%}">
</head>

<body  style="background:#E6E6FA">
<div class="container"  align="center">
<marquee width="100%" direction="right" height="80%">
    STATE BANK OF INDIA
</marquee>

<h1 class="s1"><b>WELCOME TO SBI</b></h1>
    <img src="{%static 'images/sbi.png'%}" class="img1">
<br><br>
<h6>To achieve its business growth objectives, SBI participates in syndicated credit deals to finance projects across the globe, sBI always works in accordance with local laws and regulations and would like to confirm that there is no prohibition whatsoever, either in (the) U.S. or in India, to finance such commercial projects.</h6>
    </div>

<marquee width="100%" direction="left" height="100%">
    STATE BANK OF INDIA
    </marquee>
{% endblock %}
</body>
</html>