<!DOCTYPE html>
{%extends 'loan/base.html'%}
{%block base_block%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogOut Page</title>
     <link rel="stylesheet" href="{%static 'css/test.css'%}">
</head>
<body style="background:#EE82EE">

<div class="container1" align="center">
    <img src="{%static 'images/Thanku.png'%}" class="img2">

<div class="container">

  <h2>Thanks For Visiting Our Site</h2>

  <a href="/accounts/login/" class="btn btn-success btn-lg">Login</a>

</div>
</div>
    {%endblock%}
</body>
</html>