<!DOCTYPE html>
{%extends 'loan/base.html'%}
{%block base_block%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
     <link rel="stylesheet" href="{%static 'css/test.css'%}">
</head>
<body  style="background:#FA8072">
<div class="container" align="center">
<h1 align="center" >SignUp Page</h1>
    <hr>
    <hr>
<div class="container1" align="center">
    <img src="{%static 'images/signup.jpg'%}" class="img2">
  <form method="post">
    {{form.as_p}}
    {%csrf_token%}

    <button type="submit" >SignUp</button>

  </form>
</div>
{%endblock%}
</body>
</html>